/* ChatBot Styles */
.root {
    /* background: linear-gradient(135deg, #FFEEDD, #F4A261, #E76F51); */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.paper {
    padding: 20px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
    background-color: #FFFFFF;
}

.paper:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: float 3s ease-in-out infinite;
}

.image {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 4s ;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.button-send {
    background-color: #F4A261;
    color:#F4A261;
    align-items: center;
    margin-left: 10px;
    border-radius: 25px;
    transition: transform 0.3s ease;
    padding:18px;
    margin-bottom:2px;
    margin-right:4px;
}

.button-send:hover {
    transform: scale(1.1);
}

.send-icon {
    color: black;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
}
